<!-- Home -->
<div class="wrapper style1 first">
    <article class="container" id="{{site.data.home.url}}">
        <div class="row">
            <div class="4u 12u(mobile)">
                <span class="image fit"><img src="images/{{site.data.home.logo}}" alt="" /></span>
            </div>
            <div class="8u 12u(mobile)">
                <header>
                    <h1>{{site.data.home.title}}</h1>
                </header>
                <p>{{site.data.home.description}}</p>
                <a href="#{{site.data.home.next.url}}" class="button big scrolly">{{site.data.home.next.title}}</a>
            </div>
        </div>
    </article>
</div>