<!-- Work -->
<div class="wrapper style2">
    <article id="work">
        <header>
            <h2>{{site.data.work.title}}</h2>
            <p>{{site.data.work.description}}</p>
        </header>
        <div class="container">
            {% for service in site.data.work.services %}
                {% cycle 'g1': '<div class="row">','','' %}

                    <div class="4u 12u(mobile)">
                        <section class="box style1">
                            <span class="image featured work"><img src="images/{{service.image}}" alt="" /></span>
                            <h3>{{service.title}}</h3>
                            <p>{{service.description}}</p>
                        </section>
                    </div>

                {% cycle 'g2': '', '', '</div>' %}
            {% endfor %}
        </div>
        <footer>
            <p>{{site.data.work.foot_description}}</p>
            <a href="#{{site.data.work.next.url}}" class="button big scrolly">{{site.data.work.next.title}}</a>
        </footer>
    </article>
</div>